@import "../tests.component";

form {

  &:first-child {
    padding-top: 0;
  }

  div.form-group {
    padding: 0.5em 0;

    span {
      display: block;
      padding: 0.5em 0;
    }

    label {
      display: inline-block;
    }
  }

  button {
    margin-top: 2em;
  }
}
