@import "../../../scss/vars";

.container {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    height: 100vh;
    align-items: center;
  }

  .picture {
    background-image: url("../../../assets/COVID19.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: (100vw / 1024) * 768 ;
    width: 100vw;
    margin: 0;

    @include desktop {
      width: 75vw;
      height: 100%;
    }
  }

  .router {

    @include desktop {
      width: 25vw;
    }
  }
}
