$desktop-breakpoint: 900px;
$colors: (
  primary: #707070,
  danger: #C72F2F,
  success: #2FC785
);

@function color($color-name) {
  @return map-get($colors,$color-name);
}

@mixin desktop {
  @media (min-width: #{$desktop-breakpoint}) {
    @content;
  }
}

.help-block-danger {
  display: block;
  box-sizing: border-box;
  background-color: color(danger);
  padding: 0.5em;
  color: white;
  text-align: center;
}

.rounded-corners {
  border: 1px solid;
  border-radius: 2em;
  width: 100%;
}

input.ng-invalid.ng-touched {
  border: 1px solid color(danger);
}
